nav {
    display: flex;
    background-color: #282c34;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    /* background-color: #f8f9fa; */
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.1s;
  }
  
  .nav-link:hover {
    color: #0056b3;
  }
  body{
    background-color: #f8f9fa;
  }
  h1{
    color: #007bff;
    display: flex;
  }
  .App-logo {
    height: 40vmin;
    /* pointer-events: none; */
    border-radius: 90%;
    height: 80px;
    
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }



  .App-header {
    min-height: 20vh;
    height: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
  }
  .App-link {
    color: #61dafb;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .searchBar input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: width 0.1s ease-in-out;
  }
  
  .searchBar input:focus {
    width: 250px;
    outline: none;
    border-color: #007bff;
  }
  
  .searchBar button {
    margin-left: 10px;
    padding: 8px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
  }
  
  .searchBar button:hover {
    background-color: #0056b3;
  }
  
  .head {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
  }
  
  .categoryBtn {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
    margin-bottom: 20px;
  }


  .categoryButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 50px; /* Increased padding for larger buttons */
    font-size: 18px; /* Increased font size */
    border-radius: 25px; 
    cursor: pointer;
    transition: background-color 0.1s;
  }
  
  .categoryButton:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .categoryButton {
      padding: 10px 16px; 
      font-size: 16px; 
      border-radius: 20px; 
    }
  }
  
  
  /* .categoryButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.1s;
  }
  .categoryButton:hover {
    background-color: #0056b3;
  }
  
 
  @media (max-width: 768px) {
    .cardContainer {
      gap: 15px;
    }
  
    .card {
      width: 200px;
    }
  
    .categoryButton {
      padding: 6px 12px;
      font-size: 14px;
    }
  }
   */